/* BlogPostForm Container */
.blog-post-form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1a1a2e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  color: white;
}

.blog-post-form h2 {
  text-align: center;
  font-size: 2rem;
  color: #d4a6ff;
  margin-bottom: 20px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.file-upload-label {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #d4a6ff;
  color: #1a1a2e;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload-label:hover {
  background-color: #b392ff;
}

.form-file-input {
  display: none; /* Hide the default file input */
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #d4a6ff;
  background-color: #31363f;
  color: #fff;
  font-size: 1rem;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #b0b0b0;
}

.form-textarea {
  height: 150px;
  resize: none;
}

.form-submit-button {
  width: 105%;
  padding: 10px 15px;
  background-color: #d4a6ff;
  color: #1a1a2e;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit-button:hover {
  background-color: #b392ff;
  color: #fff;
}

.login-message {
  text-align: center;
  color: #fff;
}

.login-message a {
  color: #d4a6ff;
  text-decoration: none;
}

.login-message a:hover {
  text-decoration: underline;
}
