.blog-page {
  padding: 2rem;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #d4a6ff;
}

.blog-posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blogpage-card {
  background-color: #31363f;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  color: white;
}

.blog-snippet {
  color: #d0d0d0;
  margin-bottom: 10px;
}

.read-more-button {
  background-color: #d4a6ff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: #9b49e8;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination-button {
  padding: 10px;
  border: none;
  background-color: #d4a6ff;
  color: #1a1a2e;
  border-radius: 5px;
  cursor: pointer;
}

.create-blog-button {
  text-align: center;
}
