.dev-profile-card {
  background-color: #31363f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.dev-image {
  width: 100%;
  height: auto;
  /* border-radius: 50%; */
  object-fit: cover;
  margin-bottom: 15px;
}

.dev-name {
  font-size: 24px;
  color: #ffff;
  margin-bottom: 10px;
}

.dev-bio {
  font-size: 18px;
  color: #ffff;
  margin-bottom: 15px;
}

.dev-website a,
.dev-socials a {
  /* color: #ffd23f; */
  color: #76abae;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
}

.dev-website a:hover,
.dev-socials a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dev-socials {
  font-size: 14px;
  color: black;
}

.dev-games {
  margin-top: 20px;
  text-align: center;
  color: #ffff;
}

.dev-games h4 {
  margin-bottom: 10px;
  color: #ffff;
}

.dev-games ul {
  list-style-type: none;
  padding: 0;
  color: #ffff;
}

.dev-games li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffff;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #ffffff;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

.pagination-button:hover {
  background-color: #007bff;
  color: #ffffff;
}

.website-title {
  color: #ffffff;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .favorites-title {
    font-size: 28px;
    padding: 15px;
  }

  .dev-profile-card {
    padding: 15px;
    max-width: 100%;
    margin: 15px auto;
  }

  .dev-name {
    font-size: 20px;
  }

  .dev-bio {
    font-size: 16px;
  }

  .dev-website a,
  .dev-socials a {
    font-size: 16px;
  }

  .dev-games li {
    font-size: 14px;
  }

  .pagination-button {
    padding: 8px 12px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .favorites-title {
    font-size: 24px;
    padding: 10px;
  }

  .dev-profile-card {
    padding: 10px;
    max-width: 100%;
    margin: 10px auto;
  }

  .dev-name {
    font-size: 18px;
  }

  .dev-bio {
    font-size: 14px;
  }

  .dev-website a,
  .dev-socials a {
    font-size: 14px;
  }

  .dev-games li {
    font-size: 12px;
  }

  .pagination-button {
    padding: 6px 10px;
    font-size: 10px;
  }
}
